body
{background:url(assets/empty-sea-beach-background.jpg);
text-align:center;
font-family: monospace;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.Hi-score
{border-style: double;
font-size:40px;
border-color: rgb(36, 5, 5);
border-width: 5px;
margin: 50px;
}
.Current-score
{border-style: double;
font-size:40px;
border-color: rgb(36, 5, 5);
border-width: 5px;
margin:50px;
}
.grid-container
{background-color: black;
border: 20px solid rgb(7, 7, 96);
margin-left: 20%;
margin-right: 20%;
background-position: center;
}
 #game
{border-style: inset;
border-color: rgb(181, 81, 28); 
border-width: 15px;
background-color:rgba(106, 84, 6, 0.975)
 }
.snake
{font-size: 60px;
}
.hi
{font-size: 45px;
border-style: double;
border-color: darkblue;
border-width: 5px;
margin: 50px;
}
.scoreboard
{font-size: 45px;
border-style: double;
border-color: darkblue;
border-width: 5px;
margin: 50px;
}